@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* Custom CSS */

.fc-popover {
    background: #fff !important;
}

html.dark .fc-popover {
    background: #3d3d3d !important;
}

.attend-button {
    margin-right: auto;
}

.color-box {
    width: 25px;
    height: 25px;
    border-radius: 20%;
    margin-right: 5px;
}
